  <body>
    <header>
      <h1 style="color: #429e9d"><%= data.headline %></h1>
    </header>
    <nav class="container">
      <form id="nav-button-1" method="get">
        <button class="btn btn1 option" formaction="/basic">
          basic
        </button>
        <button class="btn btn2 option" formaction="/genre">
          genre
        </button>
        <button class="btn btn3 option" formaction="/misc">
          misc
        </button>
        <button class="btn btn4 option" formaction="/box-office">
          box-office
        </button>
        <button class="btn btn5 option" formaction="/trends">
          trends
        </button>
        <button class="btn btn6 option" formaction="/recent">
          recent
        </button>
      </form>
    </nav>
    <section class="dropdown">
      <form id="dropdown-btn-1" method="get">
        <button class="dropbtn">Dropdown</button>
        <ul class="dropdown-content">
          <a href="/basic">
            <li class="dropdown-item">basic</li>
          </a>
          <a href="/genre">
            <li class="dropdown-item">genre</li>
          </a>
          <a href="/misc">
            <li class="dropdown-item">misc</li>
          </a>
          <a href="/box-office">
            <li class="dropdown-item">box-office</li>
          </a>
          <a href="/trends">
            <li class="dropdown-item">trends</li>
          </a>
          <a href="/recent">
            <li class="dropdown-item">recent</li>
          </a>
        </ul>
      </form>
    </section>
    <section class="charts">
    <% for (let i = 0; i < 4; i++) { %>
      <div class="chart chart<%= i + 1 %>">
        <hgroup class="popover popover<%= i + 1 %>">
          <p class="popover-text"><%= data.comments[i] %></p>
          <header class="chartInfo">
            <h4><%= data.titles[i] %></h4>
            <button class="btn popover-btn">Info</button>
          </header>
        </hgroup>
        <canvas id="chart<%= i + 1 %>" class="chart-canvas"></canvas>
      </div>
    <% } %>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>