  <body>
  <h1 style="color: #429e9d"><%= data.headline %></h1>
    <div class="container">
      <form id="form-button-1" method="get">
        <button class="btn btn1 active" formaction="/basic">
          <span class="option">basic</span>
        </button>
        <button class="btn btn2" formaction="/genre">
          <span class="option">genre</span>
        </button>
        <button class="btn btn3" formaction="/misc">
          <span class="option">misc</span>
        </button>
        <button class="btn btn4" formaction="/box-office">
          <span class="option">box-office</span>
        </button>
        <button class="btn btn5" formaction="/trends">
          <span class="option">trends</span>
        </button>
        <button class="btn btn6" formaction="/recent">
          <span class="option">recent</span>
        </button>
      </form>
    </div>
    <div class="dropdown">
      <form id="dropdown-btn-1" method="get">
        <button class="dropbtn">Dropdown</button>
        <ul class="dropdown-content">
          <a href="/basic">
            <li class="dropdown-item">basic</li>
          </a>
          <a href="/genre">
            <li class="dropdown-item">genre</li>
          </a>
          <a href="/misc">
            <li class="dropdown-item">misc</li>
          </a>
          <a href="/box-office">
            <li class="dropdown-item">box-office</li>
          </a>
          <a href="/trends">
            <li class="dropdown-item">trends</li>
          </a>
          <a href="/recent">
            <li class="dropdown-item">recent</li>
          </a>
        </ul>
      </form>
    </div>
    <div class="charts">
      <div class="chart chart1">
        <div class="popover popover1">
          <div class="popover-text ">
            <p>
              <%= data.comments[0] %>
            </p>
          </div>
          <div class="chartInfo">
            <h4><%= data.titles[0] %></h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart1" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart2">
        <div class="popover popover2">
          <div class="popover-text ">
            <p>
              <%= data.comments[1] %>
            </p>
          </div>
          <div class="chartInfo">
            <h4><%= data.titles[1] %></h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart2" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart3">
        <div class="popover popover3">
          <div class="popover-text ">
            <p>
              <%= data.comments[2] %>
            </p>
          </div>
          <div class="chartInfo">
            <h4><%= data.titles[2] %></h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart3" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart4">
        <div class="popover popover4">
          <div class="popover-text ">
            <p>
              <%= data.comments[3] %>
            </p>
          </div>
          <div class="chartInfo">
            <h4><%= data.titles[3] %></h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart4" class="chart-canvas"></canvas>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>